@{
    ViewData["Title"] = "Locked out";
    Layout = "/Views/Shared/_LayoutAnonymous.cshtml";
}
<div class="container">
    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
        <div class="card card-login">
          <div class="card-header card-header-info text-center">
              <img src="/images/ps-logo-white.png" class="img-fluid pl-5 pr-5" />
              <h4 class="card-title">Account Locked Out</h4>
          </div>
          <div class="card-body ">
            Your account has been locked out. Please try again later.
          </div>
          <div class="card-footer justify-content-center">
            <a href="~/Account/Login" class="btn btn-info btn-link btn-lg">Return to login page</a>
          </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

